{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<style>
    h1 {text-align: center;}
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;

      font-family: 'Montserrat', sans-serif;
            background-image: url('static/about.jpg');
            background-size: cover;
            background-position: center;
    }

</style>
<body><center>
 <h2>TEAM MEMBERS</h2>
</body>
<figure class="figure">
    <figcaption class="figure-caption"><h4>2100030035 - B.PRAVEEN KUMAR</h4></figcaption>
</figure>
<br>
<figure class="figure">
    <figcaption class="figure-caption"><h4>2100030051 - B.SRINADH</h4></figcaption>
</figure>
<br>
<figure class="figure">
    <figcaption class="figure-caption"><h4>2100030244 - K.LOKESH CHOWDARY</h4></figcaption>
</figure>

</center>
{% endblock body %}